<h1 class="animated fadeIn fast">Sobre Minion App</h1>
<hr>
<p class="animated fadeIn" style="text-align: justify;">
    Los Minions han existido desde hace millones de años, han evolucionado desde organismos unicelulares al igual que la teoría de la evolución humana, con su evolución ha servido a los villanos más temibles y ambiciosos de la historia humana, ya que ese
    es su único fin colectivo. Pero llega un momento en los 60’s en que todos sus “amos” han sido eliminados y se encuentran desempleados, por lo que ansiosos buscan a quien servir, para lo que se presentan en una convención de villanos esperando encontrar
    a su nuevo guía, es donde encuentran a Scarlet Overkill (Sandra Bullock), una mujer villana con todo para lograr ser la mejor, y es lo que los Minions quieren, por lo que la ayudaran a ser la primer Supervillana femenina.
</p>