<!--p>
    minion-tarjeta works!
</p-->

<!--div class="card-columns"-->

<div class="card animated fadeIn fast">
    <img class="card-img-top" [src]="minion.img" [alt]="minion.nombre">
    <div class="card-body">
        <h4 class="card-title">{{minion.nombre}}</h4>
        <p class="card-text text-justify">{{minion.bio}}</p>




        <button (click)="verMinion()" type="button" class="btn btn-outline-primary btn-block">
            Ver más
        </button>

        <!--a [routerLink]="['/minion',i]" class="btn btn-outline-primary">Ver más...</a>

        <button type="button" class="btn btn-outline-primary btn-block" [routerLink]="['/minion',i]">
          Ver más...
      </button-->

        <!-- boton con metodo para mandar llamar a routes
          <button (click)="verMinion(i)" type="button" class="btn btn-outline-primary btn-block">
              Ver más...
          </button>
          -->

    </div>
</div>